<h1>Settings</h1>

<p>Select your capture inteface</p>
<select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="Settings.device">
  <option *ngFor="let opt of CaptureDevices" [value]="opt.name">{{opt.description}}</option>
</select>
<br/>
<p>Your own networks</p>
<p *ngFor="let opt of Settings.myNetworks; let i = index; trackBy:indexTracker">
  <input [(ngModel)]="Settings.myNetworks[i]"><button class="btn btn-secondary" (click)="removeNetwork(opt)">Remove</button>
</p>
<p>
  <button class="btn btn-secondary" (click)="addNetwork()">Add network</button>
</p>
<p>
  <button class="btn btn-primary" (click)="save()">Save</button>
</p>
